<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% comment %} <title>Document</title> {% endcomment %}
    {% include 'snippets/header.html' with cart_products_count=cart_products_count %}
    {% include 'snippets/base_css.html' %}
</head>

<body>
    <!-- Body -->
    <style type="text/css">
        .main {
            min-height: 100vh;
            height: 100%;
        }
    </style>
    <div class="main">
        {% block content %}

        {% endblock content %}
    </div>
    <!-- End Body -->


    {% include 'snippets/footer.html' %}
</body>

</html>