{% extends 'base.html' %}


{% block content %}
<div class="row justify-content-md-center">
    <div class="col">
        <h3>Presupuestos en curso</h3>
        {% if object_list|length > 0 %}

        <table class="table table-striped table-light">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Nombre y Apellido</th>
                    <th scope="col">Fecha de creación</th>
                    <th scope="col">Fecha de vencimiento</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in object_list %}
                {% if instance.state != "FI" %}
                {% include 'orders/snippets/item_order.html' with instance=instance %}
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p>No se agregaron presupuesto. Podés agregar uno haciendo click <a
                href="{% url 'orders:order-create' %}">aquí</a>.
        </p>
        {% endif %}

        <a href="{% url 'orders:order-create' %}">+Crear uno nuevo</a>
    </div>
</div>

{% endblock content %}