{% extends 'base.html' %}

{% block content %}

{% load currency_extras %}

<form method='POST'>{% csrf_token %}
    <div class="">
        <div class="d-flex justify-content-center">
            {% load tz %}
            <h4>¿Querés eliminar el pago por {{ object.amount|currencier }} del día
                {{ object.date|date:"d/m/Y" }}?</h4>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <br>
            <p><input type='submit' value='Sí, eliminar' class="btn btn-danger" /> <a href='../'>Cancelar</a></p>
        </div>

    </div>
</form>

{% endblock %}