{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    .cont {
        margin: 30px;
        background-color: #f2f2f2;
        max-width: 400px;
    }
</style>


<div class="row justify-content-md-center">
    <div>
        <h3>Nuevo pago</h3>
        <form action='.' method='POST'>{% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Agregar' class='btn btn-success' />
            <a href="../">Cancelar</a>
        </form>
    </div>
</div>


{% endblock content %}